/*
Theme Name: Huynh Cong Tu FW
Author: Huynh Công Tử
Author URI: https://themesinfo.com/best-wordpress-theme-hctv11-fw-b9mhd
Description: 
Version: 11.0
License: 
License URI: 
Text Domain: hctfw
Tags: 
*/
* {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  margin: 0;  padding: 0;
  
}
img { max-width: 100%; }
a{ text-decoration: none; }
.prohometitle, .prohometitle  {
  text-align: center; color: #333; font-family: Roboto, Helvetica, Arial, sans-serif;  position: relative; -moz-box-orient: vertical; -webkit-line-clamp: 2; text-overflow: ellipsis;  line-height: 1.4;   margin: 0; text-align: center;
}
body {
  background: #eee !important;   width: 100%;  color: #333;  box-sizing: border-box;  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;
}
.infomore{
 padding: 5px;  text-align: justify;  line-height: 1.5;
}
#wrapper {
  width: 100%;  margin: 0 auto;  background: #f1f1f1;
}
#wp_content {
  width: 90%;  margin: 0 auto;
}
span.skuinfopost {
  margin-left: 10px;  color: #777;  font-size: 10pt;  line-height: 1.5;
}
span.congty {
  color: #333;  font-size: 10pt;  line-height: 1.5;
}
#header, #footer {
  min-height: 150px;
}
#contenthome {
  float: left;   min-height: 500px;  margin: 20px 0;  padding: 10px;  
}
.new{
  cursor: context-menu;
}
.new:after{
  width: 0;   height: 0;   border-left: 5px solid transparent;  border-right: 5px solid transparent;  border-bottom: 5px solid black; 
}
#sidebar {
  width: 30%;  float: right;  margin: 20px 0;  min-height: 500px;
}
.block_sidebar {
  min-height: 150px;  margin-bottom: 20px;
}
#header{
  background: #fff;  width: 100%;  margin: 0 auto;  float: left;
}
#footer {
    line-height: 2;  background: #eee;  width: 100%;  margin: 0 auto;  float: left;
}
#content {
  background: #44C52C;
}
.block_sidebar {
  background: #D86262;
}
tr {
  border: 1px solid #eee;
}

td {
  border: 1px solid #eee !important;  margin: 5px !important;  padding: 5px !important;
}
._5lm5._2pi3._3-8y {
    display: none;
}
tr:hover{
  background: #FFCC43;
}
@font-face {
  font-family: "UTMAvo";  src: url("./fonts/UTMAvo.woff2") format("woff2");  font-weight: normal;  font-style: normal;
}
@font-face {
  font-family: "UTMAvoBold";  src: url("./fonts/UTMAvoBold.woff2") format("woff2");  font-weight: normal;  font-style: normal;
}
@font-face {
  font-family: "UVNBaiSauR";  src: url("./fonts/UVNBaiSauR.woff2") format("woff2");  font-weight: normal;  font-style: normal;
}
@font-face {
  font-family: "UVNKeChuyen1";  src: url("./fonts/UVNKeChuyen1.woff2") format("woff2");  font-weight: normal;  font-style: normal;
}
.test {
  font-family: 'UVNKeChuyen1';  font-size: 14pt;
}
#topbar {
  margin: 0 -5px;  background: #eee;  text-align: right;  padding: 10px;  font-weight: 600;
}
#logo {
  background: #fff;  width: 100%;  margin: 0 auto;  display: inline-block;  height: 200px;
}
#logo img {
  max-width: 200px;
}
.logoxuanhoa {
  width: 12%;  float: left;
}
.logohoaphat {
  width: 12%;  float: right;
}
.logotanhoa {
  width: 70%;  text-align: center;  float: left;
}
span.top1 {
  font-family: 'UTMAvo';  font-size: 35pt;  line-height: 120px;  color: #3C5274;  text-shadow: 4px 3px 0 #B5B5B6;  -webkit-text-stroke-width: 1px;  -webkit-text-stroke-color: #fff;
}
.piclist img {
  vertical-align: middle;
}
span.top2 {
  margin-left: 10px;  font-family: 'UTMAvoBold';  font-size: 40pt;  color: #D40D2C;  text-shadow: 4px 3px 0 #B5B5B6;  -webkit-text-stroke-width: 1px;  -webkit-text-stroke-color: #fff;
}
form#searchform {
  width: 100%;
}
input.form-control.search-ajax {
  width: 60%;  padding: 10px;
}
#searchform button {
  padding: 10px;  background: #FFF;
}
#header_logo {
  width: 100%;  margin: 0 auto;
}
.navbar {
  overflow: hidden;  background-color: #333;  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  float: left;  font-size: 16px;  color: white;  text-align: center;  padding: 14px 16px;  text-decoration: none;
}
.dropdown {
  float: left;  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  border: none;  outline: none;  color: white;  padding: 14px 16px;  background-color: inherit;  font: inherit;  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;  position: absolute;  background-color: #f9f9f9;  width: 99%;  left: 0;  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);  z-index: 1;  margin: 0 auto;  margin-top: 45px
}
.dropdown-content .header {
  background: red;  padding: 16px;  color: white;  max-width: 100%;  margin: 0 auto;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.column {
  float: left;  width: 20%;  padding: 10px;  background-color: #fff;  border: solid 1px #eee;
}
.column h3 {
  text-transform: uppercase;  text-align: center;
}
.column a {
  float: none;  color: black;  padding: 16px;  text-decoration: none;  display: block;  text-align: left;
}
.column a:hover {
  background-color: #ddd;
}
.row:after {
  content: "";  display: table;  clear: both;
}
@media screen and (max-width: 600px) {
  .column {   width: 100%;  height: auto; }
}
span.mahang {
  color: #199CD3;
}
span.congty, span.congty a{
  color: #F2721C; text-decoration: none;
}
span.gia, span.gia a{
  color: #DA5044; text-decoration: none; color: red;
}
.toppro h2 {
  text-align: center;
}
#thumbnail {
   float: left;  margin: 10px;  display: inline-block;  height: 380px;  width: 25%;    box-sizing: border-box;  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;
}
#infopro {
   min-height: 400px; text-align: left;  font-family: 'Arial Regular', sans-serif;  float: right;  border-left: solid 1px #eee;  padding: 10px;  width: 68%;  box-sizing: border-box;  -moz-box-sizing: border-box;   -webkit-box-sizing: border-box;
}
#infopro h2 {
  padding: 15px;  font-size: 18pt;  float: left;  margin-left: 10px;
}

.picZoomer-pic-wp {
  width: 380px;   height: 380px;
}
.contenpro {
  background: #fff;  width: 100%;  padding: 10px;  font-size: 16pt;  float: left;  line-height: 1.5;
}
.toppro {
  font-family: 'Arial Regular', sans-serif;  background: #fff;  margin-bottom: 10px;  float: left;  width: 100%;
}
.clearfix {
  clear: both;
}
.sidebarpro {
  margin: 5px 2px 0 0;  width: 19%;  float: right;
}
.sidebarpro img {
  max-width: 95%;  padding: 10px;  margin: 0 auto;  display: block;
}
h2.sidebarproh2 {
  background: #fff;  padding: 5px;  text-align: center;  display: inline-block;  margin: 5px;  width: 100%;
}
.botpro {
  margin: 5px auto;
}
#tab-info {
  font-family: utmavo;
}
#tab-info a, #tab-info a:visited {
  text-decoration: none;  color: #000;
}
#tab-info a:hover {
  text-decoration: none;  color: #B20202;
}
#tab-info a::before {
  content: "☞ ";
}
.infoprotop {
   float: left;  margin: 0 auto;  width: 90%;  margin-left: 30px;  line-height: 1.5;  font-size: 16pt
}
.homel {
  width: 20%;  float: left;  border: 1px solid #eee;  background: #fff;
}
.homer {
  border: 1px solid #eee;  background: #fff;  padding: 10px;  float: right;  width: 80%;  align-items: flex-start;
}
.homel h3 {
  width: 100%;  font-size: 12pt;  background: red;  padding: 10px;  margin: 0;  text-align: center;  text-transform: uppercase;  color: #fff;  font-family: Arial,Tahoma;  height: 50px;  line-height: 30px;
}
.no-drop {
  cursor: no-drop;
}
.homel ul {
  list-style-type: none;  text-overflow: ellipsis;  line-height: 1.3;  font-size: 14pt;  font-family: Arial,Tahoma;  margin: 0px 0px;  padding: 0px;
}
.homel ul li{
  padding: 5px;  border: 1px solid #eee;  width: 100%;
}
.homel ul li:active {
  cursor: progress;
}
.homel ul li:hover {
  background: #F77D3A;  color: #282923;
}

.homel ul li,.homel ul li a{
  text-decoration: none;  color: #333;
}
.homel ul li a:hover{
  text-decoration: none;color: #282923;  cursor: pointer;
}
.homer img{
  width: 150px;
}
.postcat {
	padding-top: 5px;  width: 15%;  float: left;  text-align: center;  height: 265px;  font-size: 13pt;  line-height: 2;
}
.postcatfeatured {
	padding: 10px;  width: 40%;  float: left;  text-align: center;
}
.postcatfeatured img{ 
  width: 100%;
}
.postcatfeatured a{
  dislay: none;
}
.postcat img {
  width: 75%;  display: block;  margin: 0 auto;  margin-bottom: 10px;
}
.postcat a{
  text-align: center;   text-decoration: none;
}
.postcatfeatured:hover, .postcat:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;z-index: 1;
}
.homertop {
  padding: 0 10px;  height: 50px;  font-size: 17pt;  border-bottom: 1px solid red;  margin: -11px;  margin-bottom: 11px;  font-family: Arial,Tahoma;  line-height: 50px;
}
span.viemore a {
  text-decoration: none;  border-left: 1px solid;  margin-left: 10px;  padding-left: 10px;  color: #333;
}
.clearfix{
  clear: both;
}
.postcatsign {
  float: left;  width: 280px;  height: 350px;  background: #fff;  border: 1px solid #Fff;  margin: 5px;  padding: 10px;
}
.adspro {
  margin: 5px 2px;  padding: 5px;  text-align: center;  line-height: 1.4;  background: #fff;  width: 19.6%;  float: left;
}
.adspro img{
  width: 100%;  height: auto;
}
.postcatsign:hover{
  border: 1px solid #FFE792;  -moz-border-radius: 10px;  -webkit-border-radius: 10px;  -ms-border-radius: 10px;  -o-border-radius: 10px;  border-radius: 10px;
}
.gia {
  color: red;  font-weight: 600;  text-transform: uppercase;  font-family: Arial;  padding: 5px;
}
.postcatsign a{
  text-decoration: none;  color: #333;  padding: 5px;
}
.postcatsign img{
  width: 230px;  height: 230px;  margin: 5px auto;  display: block;
}
#contencat{
  float: left;  width: 100%;  margin: 5px;
}
#wp-pagenavi {
  width: 100%;  margin: 5px;  float: left;  background: #fff;
}
ul#pagination {
  list-style: none;  float: left;
}
li.pagination{
  float: left;  padding: 10px;  border: 1px solid;  display: block;  margin: 5px;
}
.pagination{
}
li.paginationactive {
  background: #F6B97C;  float: left;  padding: 10px;  border: 1px solid;  display: block;  margin: 5px;
}
.brand-block-row {
  width: 100%;  display: table;
}
.price-block {
  margin-right: 26px;  padding: 15px 10px;  font-size: 19px;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;  margin: 10px -10px;
}
.price-block,.titleinfopost,.skuinfopost,.footer-nav,.thongtinchitiet,.postcat, .postcatfeatured{
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.titleinfopost{
  font-style: normal;  line-height: 30px;  color: #333;  font-size: 24px;  font-weight:300;
}

.thongtinchitiet{
  padding: 5px;  background: #fff;
}

table.thongtinsanpham {
  width: 100%;  margin: 0 auto;  border: 1px solid #9b9b9b;  box-sizing: border-box;
}
h3.thongtin{
  font-size: 1vw;  text-transform: uppercase;  font-weight: 400;  margin: 40px 0 10px;  display: inline-block;  width: 100%;
}
td{
  display: table-cell; padding: 5px;  border: 1px solid #D5D5D5;
}
td.col1 {
  vertical-align: top;  margin: 0;  font-weight: 600;  width: 30%;  line-height: 1.8;  font-size: 15px;
}
.footer-nav{
  width: 19.6%;  padding: 5px;  float: left;   margin: 5px 2px;
background: #fff;}
input.form-control.search-ajax {
   border: 1px solid #eee;
}
input.form-control.search-ajax:hover{
  border: 1px solid #D1631A;
  }
.submitsearch {
  border: 1px solid #eee;
}
.submitsearch:hover{

  border: 1px solid #D1631A;
}